@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.manrope {
    font-family: "Manrope", sans-serif;
}

.dark {
    color: #777777;
}

.btn-bg {
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
}

.rating {
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
}

.color-1 {
    color: linear-gradient(270.00deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
    ;
}

.feature-card {
    background: linear-gradient(180.00deg, rgb(244, 244, 244), rgba(244, 244, 244, 0) 100%);
}